<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/quest">Quest</a>
        </div>
      </div>
    </div>
    <div style="height: 60px;"></div>
    <%= yield %>
  </body>
</html>