<h3>All Users</h3>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %>
    </li>
  <% end %>
</ul>
<form action="/submit_user" method="POST">
  <input type="text" name="user[name]" value="Enter User Name" />
  <input type="submit" value="Submit">
</form>
<a href="/">Back to Home</a>